<%= simple_form_for(@my_search) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :lost_pet %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
