<%= simple_form_for(@lost_pet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %>
    <%= f.input :info %>
    <%= f.input :report_date %>
    <%= f.input :lost_date %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :found_date %>
    <%= f.association :pet %>
    <%= f.association :user %>
    <%= f.association :district %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
